<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <header>
      <a href="/"><h1>Rijksmuseum</h1></a>
      <form>
        <input type="text" placeholder="Zoek een naam...." id="searchInput" />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </header>
    <section>
      <article>
        <h2><%- data.title %></h2>
        <h3><%- data.principalMaker %></h3>
        <section class="art">
          <section class="artInfo">
            <p><%- data.plaqueDescriptionDutch%></p>
            <p>Technieken: <%- data.techniques %></p>
            <p>Matrialen: <%- data.materials %></p>
            <a href="/"> Terug naar de startpagina</a>
          </section>
          <% if(data.hasImage == true){ %> <img class="detailImage" src= <%-
          data.webImage.url.slice(0, -3) + "=s1000" %>> <% } %>
        </section>
      </article>
    </section>
  </body>
</html>
