<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('./components/head.ejs') -%>
  </head>
  <body>
    <header>
      <a href="/"><h1>Rijksmuseum</h1></a>
      <%- include('./components/search.ejs') -%>
    </header>
    <section id="items">
      <% data.forEach(function(item) { %>

      <article>
        <a href="detail/<%-item.objectNumber %>">
          <h2><%- item.title %></h2>
          <h3><%- item.principalOrFirstMaker %></h3>
          <% if(item.hasImage == true){ %> <img src= <%-
          item.webImage.url.slice(0, -3) + "=s1000" %> alt="<%- item.title%>">
          <% } %>
        </a>
      </article>
      <% }) %>
    </section>
  </body>
</html>
